<h2>ALL CARS!</h2>
<br><br>
Last MODEL VIEWED: {{lastModel}}
<br><br>

<div style="background-color:yellow">
    {{#each carsArray}}
        {{> carlisting  buyerName=../buyer sellerName=../seller}}
    {{/each}}
</div>

<footer>
    {{> copywriteinfo}}
</footer>

