h1 {
    font-size: 55px;
    margin: 0;
}

p {
    font-size: 20px;
}

.landingSection {
    padding: 100px 10px;
    display: flex;
    align-items: center;
}

.landingSubSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.landingTitle {
    padding-right: 10%;
}


.underline {
    position: relative;
}

.underline::after {
    content: "";
    width: 100%;
    height: 10px;
    background-image: url('https://svgshare.com/i/yyK.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    margin-left: 10px;
}

.landingImageHeader img {
    width: 100%;
    border-radius: 12px;
}

.landingImageHeaderSubtextContainer {
    display: flex;
    justify-content: space-evenly;
}

.landingImageHeaderSubtext {
    display: flex;
}

.landingImageHeaderCheck {
    fill: #009688;
    width: 1em;
    margin-right: 10px;
}

.landingTile {
    background-color: rgb(243, 245, 247);
    margin: 10px 30px;
    border-radius: 12px;
    padding: 6vw;
    text-align: center;
}

.landingTileCard {
    margin-bottom: 30px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
}

.landingTileNumber {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12vw;
    margin: 50px;
}

.landingTileNumberTile {
    background-color: #009688;
    color: white;
    align-items: center;
    display: flex;
    padding: 20px 10px;
    border-radius: 12px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
}

.landingTileNumberTile h1 {
    font-size: 45px;
}

.landingTileSteps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingTileStepCard {
    width: 30vw;
}

@media (max-width: 800px) {
    .landingImageHeader {
        display: none;
    }

    .landingSubSection {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .landingTileNumber {
        padding: 0;
    }

    .landingTileStepCard {
        width: 75%;
    }
    
}