header {
    background-color: rgb(64, 64, 228);
    color: white;
    text-align: center;
    padding: 20px;
}

.location {
    margin-top: 50px;
    text-align: center;
}

.temperature {
    margin-top: 50px;
    text-align: center;
}

.conditions {
    margin-top: 50px;
    text-align: center;
}

span {
    font-weight: bold;
    font-size: 24px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}